<div class="jenkinsDiv">
    
<h1 >Jenkins API</h1>

{{!-- <img class="sonarPic" src="/images/sonar.jpg" alt="sonarcloud image" /> 

<button  onclick="window.location.reload()">Click Me</button> --}}

{{!-- 
<p >The hat has chosen: <h2 class="harryFont1">{{data}}</h2></p> --}}

<p>Class Name: {{data}}</p>
{{!-- 
<p>isMain: {{isMain}}</p>
<p>Analysis Date: {{date}}</p>
<p>Status: {{Status}}</p> --}}

</div>