<div class="sentryDiv">
    
<h1 >Sentry API</h1>

{{!-- <img class="sonarPic" src="/images/sonar.jpg" alt="sonarcloud image" /> 

<button  onclick="window.location.reload()">Click Me</button> --}}

{{!-- 
<p >The hat has chosen: <h2 class="harryFont1">{{data}}</h2></p> --}}
{{!-- <p>Branch 1 Name: {{name}}</p>

<p>isMain: {{isMain}}</p>
<p>Analysis Date: {{date}}</p>
<p>Status: {{Status}}</p> --}}

<p>Platform: {{data}}</p>

</div>