<div class="sentryDiv">
    
<h1 >Sentry API</h1>
<h2>TIS-Profile issues</h2>

{{!-- <h3>To do</h3>
<p>Currently the list shows all issues, change to last 7 days?? </p> --}}

{{!-- <img class="sonarPic" src="/images/sonar.jpg" alt="sonarcloud image" /> 

<button  onclick="window.location.reload()">Click Me</button> --}}

{{!-- 
<p >The hat has chosen: <h2 class="harryFont1">{{data}}</h2></p> --}}
{{!-- <p>Branch 1 Name: {{name}}</p>

<p>isMain: {{isMain}}</p>
<p>Analysis Date: {{date}}</p>
<p>Status: {{Status}}</p> --}}
{{!-- 
<p>Platform: {{data}}</p> --}}

{{!-- <div class="sentryBox">
        <div class="sentryHeader">
            <h3>Title message text</h3>
        </div>
        <div class="sentryBody">
            <p>Culprit text get user by token etc</p>
            <p>permalink url</p>
            <p>last seen date/time</p>
            <p>platform is java</p>
        
        </div>
</div> --}}

<ul>
    {{#each sentryArray}}
        {{#each this}}
        
        <li>{{@key}}: {{this}}</li>
        {{/each}}
        <p>-----</p>
    {{/each}}
</ul>

</div>
